<content-box>
  <div class="introduction">
    <img src="assets/img/JBN_Portrait.png"/>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel fringilla est ullamcorper eget nulla. A cras semper auctor neque vitae tempus quam pellentesque nec. Mi eget mauris pharetra et ultrices neque.
    </p>
  </div>
  <hr/>
  <div class="overview">
    <digest title="Lorem">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique risus nec feugiat in fermentum posuere urna nec tincidunt. Odio morbi quis commodo odio aenean sed adipiscing.</p>
    </digest>
    <digest title="Ipsum">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique risus nec feugiat in fermentum posuere urna nec tincidunt. Odio morbi quis commodo odio aenean sed adipiscing.</p>
    </digest>
    <digest title="Dolor">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique risus nec feugiat in fermentum posuere urna nec tincidunt. Odio morbi quis commodo odio aenean sed adipiscing.</p>
    </digest>
  </div>
</content-box>
