<div class="display-box display-box-background">
  <img src="../../../assets/img/Work-Wallpaper.jpg"/>
  <h1>A Test Title</h1>
</div>
<div class="display-box">
  <mat-grid-list cols="4" rowHeight="1:2">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <div class="circle-link">
        <fa-icon
          [icon]="faProjectDiagram"
          size="10x"
          style="color: darkkhaki;"
          routerLink="/projects"
        ></fa-icon>
        <h2>Projects</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="circle-link">
        <fa-icon
          [icon]="faUserCircle"
          size="10x"
          style="color: darkcyan;"
          routerLink="/about-me"
        ></fa-icon>
        <h2>About Me</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</div>
