
h1 {
  padding-top: 12px;
  text-align: center;
}

.card-avatar {
  background-size: cover;
}

.disabled-card {
  opacity: 0.7;
}

.mat-card {
  display: inline-block;
  margin: 20px;
  width: 400px;
}
