#embedded-pdf {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  height: calc(100vh - 166px); /* menu height + tab header height + padding */
}

#introduction-text {
  height: 100%;
  margin: 0;
  width: 670px;
  text-align: center;
}
