/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow-y: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.display-box {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(100vh - 64px);
  margin: 0;
  padding: 0;
}
.display-box-background img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.display-box-background h1 {
  position: relative;
  font-size: 3.5em;
  width: fit-content;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.1em;
}

/* Overwriting material tab styling */
.mat-tab-body-content {
  padding: 24px 48px 24px 48px;
}
.mat-tab-label-active {
  opacity: 1 !important;
}
